<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
    <script type="module" src="js/application.js" defer></script>
    <script type="module" src="js/interscity.js" defer></script>
    <title>AutoFlow - Controle de Tŕafego</title>
  </head>
  <body>
    <main>
      <div id="map"></div>
      <div id="side-bar">
        <div id="title">
          <h1>AutoFlow</h1>
          <h2>Controle de Tráfego de Trânsito</h2>
        </div>
      </div>
      <script
        async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVkLUjPCa6xw8r1yUtVFzvxi_LljgxSf0&callback=initMap&libraries=visualization&v=weekly"
      ></script>
    </main>
  </body>
</html>